<h1 class="mb1"><%= @workout.name %></h1>
<div class="buttons cf">
  <%= link_to 'Edit', edit_workout_path(@workout), class: 'link bg-blue white pa3 db fl mr1' if policy(@workout).update? %>
  <%= button_to 'Delete', @workout, method: :delete, class: 'bg-red white pa3 db fl pointer bn' if policy(@workout).destroy? %>
</div>
<p class="author">by: <%= @workout.user.email  if @workout.user %></p>
<%= render template: "exercises/index", locals: { workout: @workout, exercises: @workout.exercises } %>