<h1 class="mb1"><%= @exercise.name %></h1>
<div class="buttons cf">
  <%= link_to 'Edit', edit_exercise_path(@exercise), class: 'link bg-blue white pa3 db fl mr1' if policy(@exercise).update? %>
  <%= button_to 'Delete', @exercise, method: :delete, class: 'bg-red white pa3 db fl pointer bn' if policy(@exercise).destroy? %>
</div>
<div class="mt3">
  <a class="bg-green white pa2 pointer" id="show-details">Show Details</a>
</div>
<div class="details dn">
  <p><%= @exercise.description %></p>
  <p class="author">by: <%= @exercise.user.email if @exercise.user %></p>
</div>

<% if current_user %>
  <%= render template: 'exercise_sets/index', locals: { sets: @sets, exercise: @exercise }  %>
<% end %>

<% if @recent_exercises %>
  <h3 class="pt4">Recent Exercises</h3>
  <ul class="list pl0">
    <% @recent_exercises.each do |e| %>
      <li class="pv2"><%= link_to e.name, exercise_path(e), class: 'no-underline' %></li>
    <% end %>
  </ul>
<% end %>