<h1><%= @exercise.name %></h1>
<p><%= @exercise.description %></p>
<div class="buttons cf">
  <%= link_to 'Edit', edit_exercise_path(@exercise), class: 'link bg-blue white pa3 db fl mr1' %>
  <%= button_to 'Delete', @exercise, method: :delete, class: 'bg-red white pa3 db fl pointer bn' %>
</div>
<p class="author">by: <%= @exercise.user.email if @exercise.user %></p>