<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="f4">
    <%= render 'layouts/navbar' %>
    <% if flash[:notice] %>
      <p class="notice bg-lightblue pa3 ph4-ns"><%= flash[:notice] %></p>  
    <% end %>
    <% if flash[:alert] || flash[:error] %>
      <p class="alert bg-red pa3 ph4-ns"><%= flash[:alert] || flash[:error] %></p>
    <% end %>
    <div class="ph4-ns ph3">
      <%= yield %>    
    </div>
    
  </body>
</html>
